/* Estilo para el banner */
#banner {
  background-color: blue;
  padding: 10px;
}
/* Estilo para el menú horizontal */
#menu {
  display: flex;
  justify-content: space-between;
}
#menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
/* Estilo para las secciones */
.seccion {
  margin: 20px;
  padding: 10px;
  background-color: lightblue;
}
/* Estilo para las imágenes */
img {
  max-width: 100%;
}
