/* Estilo para el banner */
#banner {
  background-color: blue;
  padding: 10px;
}
/* Estilo para el menú horizontal */
#menu {
  display: flex;
  justify-content: space-between;
}
#menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
/* Estilo para las secciones */
.seccion {
  margin: 20px;
  padding: 10px;
  background-color: lightblue;
}



#texto1 {
  font-size: 20px;
  color: blue;
}



.image2-container {
  with: 50%;
}

